%h1 Listing <%= plural_table_name %>

%table
  %thead
    %tr
<% for attribute in attributes -%>
      %th <%= attribute.human_name %>
<% end -%>
      %th
      %th
      %th

  %tbody
    - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
      %tr
<% for attribute in attributes -%>
        %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
        %td{ align: 'center' }
          = link_to <%= singular_table_name %> do
            %span
              = icon('far', 'eye')
        %td= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
        %td= link_to 'Destroy', <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path
