@import "bootstrap";

footer {
  position: absolute;
  bottom: 0;
}

.bg-metizi {
  background-color: #007229
//  background-color: #28a745
}

a.nav-link{
  color:white;
}

a.nav-link:hover{
  color:grey;
}

ul.nav > li:hover{
  background-color: #66ff66
}
